
# Genenral
HELPME.md

# IDEA
.idea

# VSCode
.vscode
*.code-workspace

# golang
*.exe
*.dll
*.so
*.dylib
vendor/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Terraform
*.tfstate
*.tfstate.backup
*.tfplan
.terraform
*.hcl
*.auto.tfvars
